In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/davidjacques/.pyenv/versions/3.10.3/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/davidjacques/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)

In [6]:
import mysql.connector as connector

In [8]:
import mysql.connector

# Connect to the MySQL server
connection = mysql.connector.connect(
    host='127.0.0.1',
    port=3306,
    user='johnsmith',
    password='Databaseadmin123!'
)

# Create a cursor object
cursor = connection.cursor()

# Execute the 'SHOW DATABASES' command
cursor.execute("SHOW DATABASES")

# Fetch all the databases
databases = cursor.fetchall()

# Print the list of databases
for db in databases:
    print(db[0])

# Close the cursor and connection
cursor.close()
connection.close()

global_superstore
information_schema
little_lemon_db
little_lemon_db1
LittleLemonDB
mg_schema
mysql
performance_schema
sys
TESTLAND

In [22]:
import mysql.connector

# Connect to the MySQL server
connection = mysql.connector.connect(
    host='127.0.0.1',
    port=3306,
    user='johnsmith',
    password='Databaseadmin123!',
    db='LittleLemonDB'
)

cursor = connection.cursor()
# display_tables = "SHOW tables"
# cursor.execute(display_tables)

In [16]:
results = []
for i in cursor:
    results.append(i)


print(results)
cursor.close()

[('ascorders',), ('Bookings',), ('Customers',), ('Delivery',), ('Menu',), ('MenuItem',), ('Orders',), ('ordersview',), ('popular',), ('Staff',)]

True

In [23]:
# Need to return Full Name of customer of orders over $70 and their contact info
filter_70 = """SELECT Customers.customer_name, Customers.email, Customers.phone, Orders.total_cost
 FROM Orders LEFT JOIN Customers ON Customers.customer_id = Orders.customer_id WHERE Orders.total_cost>=70"""
cursor.execute(filter_70)

for i in cursor:
    print(i)

('John Doe', 'john.doe@example.com', '1234567890', Decimal('70'))
('Jane Smith', 'jane.smith@example.com', '2345678901', Decimal('80'))
('Alice Johnson', 'alice.johnson@example.com', '3456789012', Decimal('90'))
('Michael Brown', 'michael.brown@example.com', '4567890123', Decimal('85'))
('Emily White', 'emily.white@example.com', '5678901234', Decimal('95'))